{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}{% if coronarographie.conclusion %}Coronarographie{% endif %}{% if coronarographie.procedure %} - Angioplastie{% endif %}{% endblock %}

{% block container %}
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ coronarographie.patient }}</h1>

   <!-- à remplacer par edit admission  {% if editable %}
  <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %} -->
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
    </div>
  </div>
</div>


<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">

        <li class="list-group-item text-left"><strong>Indication: {% for indication in coronarographie.indication.all %} {{ indication }} {% endfor %}</li>

        <li class="list-group-item text-left"><strong> Date de l'intervention: {{ coronarographie.intervention_date }}</strong></li>

	  <!--  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span> -->
	    <li class="list-group-item text-left"><strong> Médecin opérateur: {{ coronarographie.operateur }}</li>
      {% if coronarographie.aide %}<li class="list-group-item text-left">Aide: <strong>{{ coronarographie.aide }}</strong></li>{% endif %}
      <li class="list-group-item text-muted">Materiel</li>
      <li class="list-group-item text-left"><strong>Guides: {% for guide in coronarographie.guide.all %} {{ guide }} {% endfor %}</li>
      <li class="list-group-item text-left"><strong>Sondes: {% for sonde in coronarographie.sonde.all %} {{ sonde }} {% endfor %}</li>
      <li class="list-group-item text-left"><strong>Ballons: {% for ballon in coronarographie.ballon.all %} {{ indication }} {% endfor %}</li>
      <li class="list-group-item text-left"><strong>Stents: {% for stent in coronarographie.stent.all %} {{ stent }} {% endfor %}</li>
      <li class="list-group-item text-left"><strong>Produit de contrast: {{ coronarographie.iode }} cc</strong></li>
	<!--    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>-->

<li class="list-group-item text-left"><a href="{% url 'rapport_coro' pk=coronarographie.pk %}" >Imprimer rapport <span class ="glyphicon glyphicon-print"></span></a></li>
 <li class="list-group-item text-left"><a href="{% url 'update_coronarographie' pk=coronarographie.pk %}" >Modifier rapport <span class ="glyphicon glyphicon-pencil"></span></a></li>
  

      <!--  <li class="list-group-item text-left"><strong>Last seen</strong> {{ show_user.last_login }}</li>-->
      </ul>



    </div>



    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">{% if coronarographie.conclusion %}Coronarographie {% endif %}-{%if coronarographie.procedure %} Angioplastie{% endif %}</div>
        <div class="panel-body">
	   {% if coronarographie.conclusion %}<h2> Réseau coronaire </h2>{% endif %}


         <div><h3>Tronc commun gauche (TCG)</h3>
           <p>{{  coronarographie.tcg }}</p>

         </div>

      {% if coronarographie.bissectrice%}   <div><h4>Bissectrice</h4>
           <p>{{  coronarographie.bissectrice }}</p>

         </div> {% endif %}
         <div><h4>Inter ventriculaire antérieure (IVA)</h4>
           <p>{{  coronarographie.iva }}</p>

         </div>
         <div><h4>Circonflexe (Cx)</h4>
           <p>{{  coronarographie.circonflexe }}</p>

         </div>
         <div><h4>Coronaire droite (CD)</h4>
           <p>{{  coronarographie.coronaire_dte }}</p>
           <p>Dominance: {% if coronarographie.dominance == True %}droite{% elif coronarographie.dominance == False %}gauche{% else %}co-dominance {% endif %}</p>

         </div>




            <div><h2>Conclusion</h2>
              <p>{{ coronarographie.conclusion }}</p>
            </div>

            <div><h2>Décision du {{ coronarographie.staff_date }}</h2>


     <p>{{ coronarographie.decision }}</p>

            </div>


            <div><h2>Angioplastie</h2>

              <p> {{ coronarographie.procedure }}
              </p>
              <hr>

              <h4>Complications</h4>
             <p>{% for complication in coronarographie.complication.all %} {{ complication }} {% endfor %}</p>
             <h3>Dispositions complémentaires</h3>
             <p>{{ coronarographie.dispositions }}</p>

            </div>

     </div>
    </div>

  </div>
</div>

</div>

{% endblock  %}
