<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
<!--<li {% if active_link == "patients" %}class="active"{% endif %}<a href="{ url 'patient_list'}">Patients</a></li>-->
