<!DOCTYPE html>
<html lang="fr">
    {% load staticfiles %}
    {% load thumbnail %}
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="author" content="Dr.Yahyaoui Mohamed Kaddour">
        <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">
        
        <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this site -->
        {% block styles %}
    
        <link href="{% static 'site/css/main.min.css' %}" rel="stylesheet"> 
        <!-- <link href="{% static 'site/css/custom.css' %}" rel="stylesheet">  -->
        {% endblock styles %}
        
        <!-- Custom tags for the head tag -->
        {% block extrahead %}{% endblock extrahead %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>

        {% block navbar %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{% url 'home' %}">


                        {% block navbar-brand %}
                        <!--- <img src="{% static 'site/img/logo.png' %}" alt="logo"> --->
                        {% include "_brandname.html" %}
                        {% endblock %}
                    </a>

                </div>
                {% block navbar-menu %}



                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home' %}"><span class ="glyphicon glyphicon-home"></span> Home</a></li>
                        
                        <!-- drop down menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class ="glyphicon glyphicon-bed"></span> Service <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'create_patient' %}">Ajouter patient</a></li>
                                <li><a href="{% url 'create_admission' %}">Ajouter admission</a></li>
                                <li><a href="{% url 'create_biology' %}">Ajouter bilan</a></li>
                                
                                <li><a href="{% url 'create_visite' %}">Ajouter visite</a></li>
                                <!--<li><a href="#">Friends</a></li>
                                     <li><a href="#">Photos</a></li>
                                     <li><a href="#">Settings</a></li> --->
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class ="glyphicon glyphicon-heart"></span> Bloc<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'create_coronarographie' %}">Ajouter coronarographie</a></li>
                                <li><a href="{% url 'create_stimulation' %}">Ajouter stimulation</a></li>
                                

                                <!--<li><a href="#">Friends</a></li>
                                     <li><a href="#">Photos</a></li>
                                     <li><a href="#">Settings</a></li> --->
                            </ul>
                        </li>
                    </ul>

                    <!--right align -->
                    <ul class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            {% block navbar-right %}
                            {% if user.is_authenticated %}
                            {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
    			                          <img src="{% thumbnail user.profile.picture|default:'default_profile.png' 20x20 crop %}" alt="" />
    			                          {{ user.get_full_name|truncatechars:20 }}
    			                          <span class="caret"></span>
    		                        </a>
                                
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'profiles:show_self' %}">Profile</a></li>
                                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                                    <!---  <li><a href="{% url 'create_patient' %}">New patient</a></li>
                                         <li><a href="{% url 'create_admission' %}">New admission</a></li> --->
                                </ul>
                                
                                {% endif %}
                                {% endblock %}
                        </ul>
                    </ul>
                    
                </div>






            </div>
        </nav>
        {% endblock %}
        {% endblock %}

        {% block nav-pills %}

        <div class ="col-lg-12"> 
            <ul class="nav nav-pills" >
                <li class="active"><a href="{% url 'home'%}"><span class ="glyphicon glyphicon-home"></span> Home</a></li>
                
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class ="glyphicon glyphicon-bed"></span> Service <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ><a href="{% url 'list_patients' %}">Patients</a></li>
                        <li ><a href="{% url 'list_admissions' %}">Admissions</a></li>
                        
                        <li ><a href="{% url 'list_visites' %}">Visites</a></li>
                    </ul>
                    
                    
                    <li role="presentation" class="dropdown" >
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class ="glyphicon glyphicon-heart"></span> Bloc <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ><a href="{% url 'list_coronarographies' %}">coronarographies</a></li>
                            <li ><a href="{% url 'list_stimulations' %}">Pacing</a></li>
                            
                    </li>

                        </ul>


                        <li ><a href="{% url 'list_biologys' %}"><span class ="glyphicon glyphicon-tint"></span> Bilans</a></li>
                        
            </ul>
            
                    </ul>
        </div> 
        
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search" action="{% url 'search' %}" method="get" accept-charset="utf-8"> 
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" id="searchform">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <form class="navbar-form" id="searchform" role="search" action="{% url 'search' %}" method="get" accept-charset="utf-8"> -->
        <!-- <button class="searchbutton" type="submit"> -->
        <!-- <i class="glyphicon glyphicon-search"></i> -->
        <!-- </button> -->
        <!-- <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search"> -->
        <!-- </form> -->
        {% endblock nav-pills %}
        
        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">  <!-- singular -->
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endblock %}

        {% block splash %}
        {% endblock splash %}



        <hr>

        {% block container %}
        <div class="container">


<form id="searchform" value="{{ query }}" action="{% url 'search' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
                            </form>



            <div class="starter-template">
                <h1>Cardiologie</h1>
                <p class="lead">Bienvenue dans le service cardiologie de l'EH Dr.Benzerdjeb.<br> Vous êtes dans l'application kardio, développée par et pour les memebres du service afin d'automatiser la saisie des dossiers médicaux.</p>
            </div>
            
        </div><!-- /.container -->




        {% endblock container %}

    <!-- Site footer -->
        {% block footer %}
      <!-- Some social button for contact will do -->
      <hr> 
        <div class="container">
            <div class="footer">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Cardiologie EH Dr.Benzerdjeb {% now 'Y' %}</p>
                    </div>
                </div>
            </div>
        </div>
                    {% endblock %}
                    
                    
                    {% block scripts %}
                    <!-- Bootstrap core JavaScript
                         ================================================== -->
                    <!-- Placed at the end of the document so the pages load faster -->
                    <script src="{% static 'site/js/jquery.min.js' %}"></script>
                    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
                    <script src="{% static 'site/js/main.min.js' %}"></script>
                    
                    {% endblock scripts %}
    </body>
</html>
