{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
    {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>l'application du service cardiologie</p>
<!--	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a> -->
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">

<div class="col-md-4">
  <div class="well">

      <h2>Présentation</h2>
      <p>Basée sur le framwork django, cette application vise à automatiser la saisie des données médicales et à gérer les dossiers, ainsi que produire des rapports de qualité. </p>
      <p><a class="btn btn-primary" href="#" role="button"> vue d'ensemble</a></p>
    </div>
  </div>
<div class="col-md-4">
  <div class="well">

      <h2>Patients</h2>
      <p>Liste des patients vus dans notre département, historique médical ainsi que  leurs principales caractéristiques démographiques </p>
      <p><a class="btn btn-primary" href="{% url 'list_patients' %}" role="button">patients</a></p>
    </div>
  </div>
<div class="col-md-4">
  <div class="well">

      <h2>Admission</h2>
      <p>Liste des hospitalisations, triées par ordre chronologique.
        Les rapports sont genérés automatiquement à partir des formulaires</p>
      <p><a class="btn btn-primary" href="{% url 'list_admissions' %}" role="button">admissions</a></p>
    </div>
  </div>
</div>

{% endblock container %}

<!--    {% block scripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'site/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'site/js/site.js' %}"></script>

    {% endblock scripts %}
    -->
    </body>
    </html>
