{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Hospitalisation{% endblock %}

{% block container %}
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
        <h1>{{ admission.patient }}  <small>le {{admission.admission_date}}</h1>

   <!-- à remplacer par edit admission  {% if editable %}
  <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %} -->
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
    </div>
  </div>
</div>


<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">Données générales</li>
        <li class="list-group-item text-left"><strong>Admis(e) le {{ admission.admission_date }}</strong></li>

	  <!--  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span> -->
	    <li class="list-group-item text-left"><strong>Sorti(e) le {{ admission.date_sortie }}</li>
      <li class="list-group-item text-left"><strong>durée de l'hospitalisation {{ admission.duration }}</li>
	<!--    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>-->


        <li class="list-group-item text-left">Medecin traitant <strong>{{ admission.medecin }}</strong></li>
        <li class="list-group-item text-left"><a href="{% url 'admission_pdf' pk=admission.pk %}" >Imprimer rapport <span class ="glyphicon glyphicon-print"></span></a></li>
      
      <li class="list-group-item text-left"><a href="{% url 'update_admission' pk=admission.pk %}" >éditer <span class ="glyphicon glyphicon-pencil"></span></a></li>
      </ul>
    </div>



    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Observation</div>
        <div class="panel-body">
	   <h2>{{ admission.patient }}</h2>
         <p> {% if admission.emergency = True %}Admission dans le cadre de l'urgence pour {% else %} Le patient a séjourné dans notre service du {{ admission.admission_date }} au {{ admission.date_sortie }} pour{% endif %} {% for motif in admission.motif_admission.all %}  {{ motif  }}.{% endfor %}</p>

         <div><h3>Histoire de la maladie</h3>
           <p>{{  admission.histoire }}</p>

         </div>
         <div class="col-md4">
             <h3>Examen clinique</h3>
                <h4>Signes fonctionnels</h4>
                <ul>
      {% if admission.fever = True %} <li>fièvre</li>{% endif %}
      {% if admission.dyspnea_nyha = '1' %} <li>Eupnéique au repos</li>{% else %}<li>Dyspnée au stade {{ admission.dyspnea_nyha }} de la <em>NYHA</em></li>{% endif %}
     {% if admission.angina_scc = '1' %} <li>Absence d'angor</li>{% else %}<li>Angor au stade {{ admission.angina_scc }} de la <em>SCC</em></li>{% endif %}
     {% if admission.syncope = True %} <li>Syncope</li>{% endif %}

               </ul>
               <h4>Signes physiques</h4>
                   <p> L'examen clinique retrouve à l'auscultation: {{ admission.auscultation }} avec une  Fréquence cardiaque à = {{ admission.heart_rate}} Bpm.<br>
                     En périphérie les pouls sont {{ admission.pulse }} avec une  PA = {{ admission.systolic_bp }}/{{ admission.diastolic_bp }}mmHg<br>
                   </p>
         </div>

         <div class="col-md4">
                 <h3>ECG</h3>
                   <p>Le rythme est en {% if admission.rythm = 'S' %}sinusal{% elif admission.rythm = 'F' %}fibrillation atriale{% elif admission.rythm = 'R'%}flutter auriculaire{% elif admission.rythm = 'T' %}tacchycardie ventriculaire{% elif admission.rythm = 'P' %}électro stimulé{% endif %} à fréquence cardiaque de {{ admission.freq}} puls/min.<br>
                     {% if admission.bundle_block = 'G' %}Il existe un block de branche gauche.<br>{% elif admission.bundle_block = 'D' %}Il existe un block de branche droit.<br>{% endif %}
                     {% if admission.hypertrophy = True %}On note aussi une hypertrophie ventriculaire gauche électrique.<br>{% endif %}
                     <p>sur le plan ischémique: {% if admission.lesion = 'S' %} une lésion en septal{% elif admission.lesion = 'A' %} une lésion en antérieur{% elif admission.lesion = 'L' %} une lésion en latéral{% elif admission.lesion = 'P' %} une lésion en postérieur{% else %}absence de lésions électriques{% endif %},
                       {% if admission.ischaemia = 'S' %} une ischémie en septal{% elif admission.ischaemia = 'A' %} une ischémie en antérieur{% elif admission.ischaemia = 'L' %} une ischémie en latéral{% elif admission.ischaemia = 'P' %} une ischémie postérieur{% else %}absence d'ischémie électrique{% endif %},
                       {% if admission.t_inversion = 'S' %} onde T inversée en septal{% elif admission.t_inversion = 'A' %} onde T inversée en antérieur{% elif admission.t_inversion = 'L' %} onde T inversée en en latéral{% elif admission.t_inversion = 'P' %} onde T inversée en postérieur{% endif %}<br>
                       Le QT corrigé est estimé à {{ admission.corrected_qt }} msec
                       .<br>
                       
                   </p>
          </div>
          <div><h3>Téléthorax</h3>
            <p>Le téléthorax retrouve: {{ admission.telethorax }}.<p>
              </div>

              <div><h3>Échocardiographie {{ date_echo }}</h3>
                <p>À l'échocardiographie on a : {{ admission.echocoeur }}.<p>
                  {% if eto %}<p>{{ admission.eto }}</p>{% endif %}
                  </div>

            


            <div><h2>En résumé</h2>
              <p>{{ admission.resume }}</p>
            </div>

            <div><h2>Évolution</h2>


     <p>{{ admission.evolution }}</p>

            </div>


            <div><h2>Sortie</h2>

              <p> {% if patient.gender = 'M' %}Patient sortant le{% else %} Patiente sortante le {% endif %}{{ admission.date_sortie }} sous le traitement suivant: {{ admission.treatement }} .
              </p>

              <h3>Dispositions complémentaires</h3>
             <p>{{ admission.dispositions }}</p>



            </div>

     </div>
    </div>
  </div>
</div>
</div>

{% endblock  %}
