{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}{{ block.super }}Nouvelle admission{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}


{% block container %}

  <div class="row">
    <div class="col-md-6">
      <h1>Nouvelle admission</h1>
      <hr/>
      <div class="well">
        <form method="POST" action="."> {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="modifier" class="btn btn-success btn-lg btn-block" >
      </form>
      </div>
    </div>
  </div>
{% endblock %}
