{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load tz %}

{% block title %}{{ block.super }}Hospitalisations {% endblock %}


{% block container %}

<div class="container" >

    <div class="container profile-head">
        <div class="row">
            <div class="col-sm-10">
                <h1><huge>HOSPITALISATIONS: {% now "DATETIME_FORMAT" %}</huge></h1>
                <!--      {% if editable %}
                     <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
                     {% endif %} -->
            </div>
            <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
            </div>
        </div>
    </div>



    <div>
        <hr>
    </div>
    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>Patient </th>
            <th>Date </th>
            <th>Medecin </th>
            <th>motif </th>
            
            <th>urgence?</th>
            <th>PDF</th>
            <th>Éditer</th>
            
        </tr>
            
        {% for admission in admissions %}
        <tr>
            <td><a href="{% url 'detail_admission' pk=admission.pk %}">{{ admission.patient }}</a></td>


            <td>{{admission.admission_date }}</td>
            <td>{{ admission.medecin }}</td>
            <td> {% for motif in admission.motif_admission.all  %}{{ motif }} {% endfor %}</td>
                        
            <td>{% if admission.emergency = True %}<span class="glyphicon glyphicon-ok" ></span>{% else %}<span class="glyphicon glyphicon-remove" ></span>{% endif %}</td>

            <td><a href="{% url 'admission_pdf' pk=admission.pk %}"><span class ="glyphicon glyphicon-print" aria-hidden="true"></span></td></a>
<td><a href="{% url 'update_admission' pk=admission.pk %}"><span class ="glyphicon glyphicon-pencil" aria-hidden="true"></span></td></a>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default " href="{% url 'create_admission' %}" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter admission
    </a>

            </div>

   
    {% endblock container %}

    {% block scripts %}
    <script src="{% static 'site/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'site/js/site.js' %}"></script>
    {% endblock scripts %}
