{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ block.super }}Examen du {{ visite.patient  }} le {{  visite.date}}.{% endblock %}




{% block container %}


            <table class="table table-compact table-striped table-hover">
                <tr>
                  <th>patient</th>
                  <th>Date</th>
                  <th>Glycémie</th>
                  <th>Troponines</th>
                  <th>Cholesterol total</th>
                  <th>Triglycérides</th>
                  <th>HDL c</th>
                  <th>LDL c</th>
                  <th>DFG</th>
                
                </tr>
                {% for biology in biology_list %}
                    <tr>
                        <td>{{ biology.patient }}</td>
                        <td>{{biology.prelevement }}</td>
                        <td>{{ biology.creatinin }}</td>
                        <td>{{ biology.troponin }}</td>
                        <td>{{ biology.cholesterol }}</td>
                        <td>{{ biology.triglyceride }}</td>
                        <td>{{ biology.hdl }}</td>
                        <td>{{ biology.ldl }}</td>
                        <td>{{ biology.mdrd }}</td>
                   
                    </tr>
                {% endfor %}
            </table>

<a class="btn btn-default " href="{% url 'create_biology' %}" >
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter bilan
</a>
            
        </div>
  {% endblock container %}

  {% block scripts %}

  <script src="{% static 'site/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'site/js/site.js' %}"></script>
  {% endblock scripts %}
