{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ block.super }}Bilan de <a href ="url 'patient_detail'">{{ biologie.patient  }}</a> du {{ biologie.prelevement }}{% endblock %}




{% block container %}

<h1>Bilan de {{ biologie.patient  }} du {{ biologie.prelevement }}</h1>
<hr>

            <table class="table table-compact table-striped table-hover">
                <tr>
           <!--       <th>patient</th>
                  <th>Date</th> -->
                  <th>Glycémie</th>
                  <th>Troponines</th>
                  <th>Cholesterol total</th>
                  <th>Triglycérides</th>
                  <th>HDL c</th>
                  <th>LDL c</th>
                  <th>DFG</th>
                
                </tr>
                
                    <tr>
                    <!--    <td>{{ biologie.patient }}</td>
                        <td>{{biologie.prelevement }}</td> -->
                        <td>{{ biologie.creatinin }}</td>
                        <td>{{ biologie.troponin }}</td>
                        <td>{{ biologie.cholesterol }}</td>
                        <td>{{ biologie.triglyceride }}</td>
                        <td>{{ biologie.hdl }}</td>
                        <td>{{ biologie.ldl }}</td>
                        <td>{{ biologie.mdrd }}</td>
                   
                    </tr>
                
            </table>

            <p><a href="{% url 'create_biology' %}">Nouveau bilan</a></p>
        </div>
  {% endblock container %}

  {% block scripts %}

  <script src="{% static 'site/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'site/js/site.js' %}"></script>
  {% endblock scripts %}
