{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block navbar %}
{% endblock %}

{% block container %}
<div class="container form-box">
<form action="{% url create_patient %}" method="post">
  <p>
    {{ form.as_p }}
  </p>
  <input type="submit" value="save"/>
</form>
</div>

{% endblock container %}
