{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block navbar %}
{% endblock %}

{% block container %}
<div class="container form-box">
<form action="{% url create_admission %}" method="post">
  <ul>
    {{ form.as_ul }}
  </ul>
  <input type="submit" value="save"/>
</form>
</div>

{% endblock container %}
