
{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Patients{% endblock %}

{% block splash %}
{% endblock splash %}


{% block container %}

<div class="container">

<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
        <h1><huge>PATIENTS</huge></h1>
<!--      {% if editable %}
  <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %} -->
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
    </div>
  </div>
</div>




    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>Patient </th>
            <th>Date de naissance </th>
            <th>Adresse </th>
            <th>Téléphone</th>
            <th>Assurance? </th>
            
            <th>Date de 1° admission</th>
            <th>Allergies connues</th>
            <th>Tags</th>
            <th>Éditer</th>
            
        </tr>
        
        {% for patient in patients %}
        <tr>
            <td><a href="{% url 'detail_patient' pk=patient.pk %}"><strong>{{ patient.name }}</strong></a></td>
            

            <td>{{ patient.birth }}</td>
            <td>{{ patient.ardress }}</td>
            <td>{{ patient.phone }}</td>
            <td>{% if patient.assured = True %}Oui {% else %}Non {% endif %}</td>
            <td>{{patient.first_admission }}</td>            
            <td>{{ patient.allergy }}</td>
    
            <td>{% for tag in patient.tags.all %} <span class="label label-warning">{{ tag }}</span> {% endfor %}
                <td><a href="{% url 'update_patient' pk=patient.pk %}"><span class ="glyphicon glyphicon-pencil" aria-hidden="true"></span></td></a>

        </tr>
        {% endfor %}
    </table>
    <hr>
    <a class="btn btn-default " href="{% url 'create_patient' %}" >
        
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter patient
    </a>


</div>




  
{% endblock container %}


{% block scripts %}
<script src="{% static 'site/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
