{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Patient{% endblock %}

{% block container %}
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ coronarographie.patient }}</h1>
<!--      {% if editable %}
  <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %} -->
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
    </div>
  </div>
</div>


<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">Données générales</li>
        <li class="list-group-item text-left"><span><strong>Date de  l'intervention</strong>: {{ coronarographie.intervention_date }}</span>

	  <!---  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>  --->
	    <li class="list-group-item text-left"><strong>Indication: </strong> {{ coronarographie.indication }}</span>

	    <li class="list-group-item text-left"><strong>Opérateur: </strong> {{ coronarographie.operateur }} </span>
	    <li class="list-group-item text-left"><strong>{% if coronarographie.aide  %}assuré{% else %}non assuré {% endif %}</strong></li>
      <li class="list-group-item text-left"><strong>tags</strong> : {% for tag in patient.tags.all %} <span class="label label-warning">{{ tag }}</span> {% endfor %}</li>


      </ul>
    </div>












    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
            <!--  Date de première admission:  {{ patient.first_admission }}<br> -->



	</div>
        <div class="panel-body">
	   <h1>{{ patient.name }}</h1>
         <p> {% if patient.gender = 'M' %}Monsieur{% else %}Madame{% endif%} {{ patient.name }}, agé(e) de {{patient.age}}, {% if patient.assured = True %}assuré social{% else %} sans assurance sociale{% endif %} est originaire de {{ patient.ardress}}.</p>

         <div class="col-md4">
             <h2>Antécedents</h2>

                   <p>{{ patient.history }}</p>
         </div>

         <div class="col-md4">
                 <h3>Allergies connues</h3>
                   <p>{{ patient.allergy }}</p>
          </div>
          <div><h2>facteurs de risque cardio vasculaire</h2>
                <ul>
      {% if patient.hypertension = True %} <li> Hypertension artérielle</li>{% endif %}
      {% if patient.hypertension = True %} <li> Hypertension artérielle</li>{% endif %}
     {% if patient.diabete = True %} <li> Diabète </li>{% endif %}
     {% if patient.dyslipidemia = True %} <li> Dyslipidémie </li>{% endif %}
     {% if patient.smoker = True %} <li> Tabagique </li>{% endif %}
     {% if patient.heredity = True %} <li> Hérédité coronarienne </li>{% endif %}
     {% if patient.obesity = True %} <li> Obésité </li>{% endif %}
               </ul>
          </div>

          <h2>Admissions</h2>
          <ol>
            {% for admission in admissions %}
            <li>Du <a href ={% url 'detail_admission' pk=admission.pk %}><strong>{{ admission.admission_date}} au {{ admission.date_sortie }} </strong></a></li>
              {% endfor %}
          </ol>




          <h2>Biologie</h2>
          <div class="table-responsive">
          <table class="table table-striped table-striped table-hover">
        <thead>
        <tr>
        <th>Date</th>
        <th>glycémie (g/l)</th>
        <th>créatinine (mg/l)</th>
        <th>EGFR (MDRD) l/min/1.73m²</th>
        <th>cholesterol total (g/l)</th>
        <th>triglycérides</th></tr>
        <th>HDL cholesetrol</th>
        <th>LDL cholesterol</th>
        <th><strong>troponines</strong>(rapport/normale)</th></tr></thead>
        <tbody>
        <tr>
        {% for biology in biologies %}
        <td><a href ={% url 'detail_biology' pk=biology.pk %}><strong>{{ biology.prelevement }}</strong></a></td>
        <td>{{ biology.glycemia}}</td>
        <td>{{ biology.creatinin }}</td>
        <td>{{ biology.mdrd }}</td>
        <td>{{ biology.cholesterol }}</td>
        <td>{{ biology.triglyceride }}</td>
        <td>{{ biology.hdl }}</td>
        <td>{{ biology.ldl }}</td>
        <td>{{ biology.troponin }}</td>
        {% endfor %}

        </tr>
        </tbody>
        </table>
      </div>
          <h2>Interventions</h2>
            <h3>Coronarographies | angioplasties</h3>
          <ol>
            {% for coronarographie in coronarographies %}
            <li>Du <a href ={% url 'detail_coronarographie' pk=coronarographie.pk %}><strong>{{ coronarographie.intervention_date}}</strong></a></li>
              {% endfor %}
          </ol>
          <h3>Stimulations</h3>
          <ol>
            {% for stimulation in stimulations %}
            <li>Du <a href ={% url 'detail_stimulation' pk=stimulation.pk %}><strong>{{ stimulation.intervention_date }} </strong></a></li>
              {% endfor %}
          </ol>
              </div>
    </div>
  </div>
</div>
</div>
{% endblock  %}
