{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ block.super }}Results{% endblock %}


{% block container %}




Vous avez cherché "{{ query }}" et les résultats sont listés plus bas:

<ul>
    {% for object in objects %}
    <li> {{ object }}</li>
    {% endfor %}
</ul>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

