{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ block.super }}Visites du service {% endblock %}




{% block container %}
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
        <h1><huge>Visites en salle</huge></h1>
<!--      {% if editable %}
  <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %} -->
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
    </div>
  </div>
</div>



            <table class="table table-compact table-striped table-hover">
                <tr>
                  <th>Patient</th>
                  <th>Date</th>
                  <th>Medecin</th>
                  <th>À faire </th>
                </tr>
                {% for visite in visite_list %}
                    <tr>
                        <td><a href="{% url 'detail_visite' pk=visite.pk %}">{{ visite.patient }}</a></td>
                        <td>{{visite.visite_date }}</td>
                        <td>{{ visite.medecin }}</td>
                        <td>{{ visite.todo }}</td>
                        

                    </tr>
                {% endfor %}
            </table>
<a class="btn btn-default " href="{% url 'create_visite' %}" >
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter visit
</a>

        </div>
  {% endblock container %}

  {% block scripts %}

  <script src="{% static 'site/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'site/js/site.js' %}"></script>
  {% endblock scripts %}
