{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ block.super }}Visite du {{ visite.visite_date }} | patient {{ visite.patient  }}{% endblock %}




{% block container %}
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
        <h1>{{ visite.patient }} <small>Visite du {{ visite.visite_date }} </small></h1>
<!--      {% if editable %}
  <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %} -->
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'logo.png' 140x140 crop %}">
    </div>
  </div>
</div>


<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">Données générales</li>
        <li class="list-group-item text-left"><span><strong>Visite du</strong>: {{ visite.visite_date }}</span>

	  <!---  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>  --->
	    <li class="list-group-item text-left"><strong>Éffectuée par : </strong> {{ visite.medecin }}</span>

      </ul>
      <a class="btn btn-default " href="{% url 'create_visite' %}" >
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter visit
</a>

    </div>

<div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Observation</div>
        <div class="panel-body">
      
       <h2> Signes fonctionnels:</h2>

       <ul>

           <li>{% if visite.dyspnea_nyha = '1' %} eupnéique au repos {% else %} dyspnée au stade {{ visite.dyspnea_nyha }} de la <em>NYHA</em>{% endif %}</li>
           {% if visite.angina_scc = '1' %} <li>Absence d'angor</li>{% else %}<li>Angor au stade {{ visite.angina_scc }} de la <em>SCC</em></li>{% endif %}
           {% if visite.syncope = True %} <li>Syncope</li>{% endif %}



       </ul>

       <h2>Signes physiques</h2>
       <ul>

           <li>Pression systolique à {{ visite.systolic_bp }} /{{ visite.diastolic_bp }}</li>
           
           <li>Fréquence cardiaque à {{ visite.heart_rate }} bpm.</li>
           <li>Auscultation: {{ visite.auscultation }}</li>
           <li>{% if visite.ivg = True %}Signes d'insuffisance cardiaque gauche {% else %} Absence de signes d'IVG {% endif %}</li>
            <li>{% if visite.ivd = True %}Signes d'insuffisance cardiaque droite {% else %} Absence de signes d'IVD {% endif %}</li>

           <li>Les pouls sont {{ visite.pulse }}</li>



       </ul>
       <h2>Examens complémentaires</h2>

       <p>
           <li>{{ visite.ecg }}</li>
           <li>{{ visite.bio }}</li>
           <li>{{ visite.examens }}</li>

       </p>

       <h2>Traitement</h2>
       <p>


           {{ visite.traitement }}

       </p>


       <h2>À faire</h2>

       <p>

           {{ visite.todo }}
       </p>
         </div>
                   
        </div>
  {% endblock container %}

  {% block scripts %}

  <script src="{% static 'site/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'site/js/site.js' %}"></script>
  {% endblock scripts %}
